/*!
 * =====================================================
 * Mui v1.6.0 
 * =====================================================
 */
/*! custom.css by ado 2015-05-19 */

body,
html {
	background: #FFF !important;
}
body,
html,
div,
ul,
li,
p {
	font-family: "微软雅黑";
	font-size: 16px;
}
/* 背景色： 宝石绿*/

.ad-background-green {
	background-color: rgba(67, 169, 157, .98);
}
/*字体颜色*/
/*白色*/

.ad-fontcolor-white {
	color: #fff !important;
}
/*宝石绿*/

.ad-fontcolor-green {
	color: #3DA99D;
}
/*橙色*/

.ad-fontcolor-orange {
	color: #E88B70;
}
/*灰色*/

.ad-fontcolor-gray {
	color: #868686;
}
/*底边线颜色：宝石绿*/

.ad-border-bottom {
	border-bottom: 2px solid #3DA99D;
}
.ad-fontsize-12 {
	font-size: 12px !important;
}
.ad-fontsize-14 {
	font-size: 14px !important;
}
.ad-fontsize-16 {
	font-size: 16px !important;
}
.ad-fontsize-18 {
	font-size: 18px !important;
}
.ad-fontsize-20 {
	font-size: 20px;
}
.ad-fontsize-24 {
	font-size: 24px !important;
}
.ad-fontsize-28 {
	font-size: 28px !important;
}
/*.mui-bar .mui-title {
	font-weight: bold;
}*/

.ad-blank-row {
	height: 46px;
}
/*修改popover弹出框 start*/

.ad-custompopover .mui-popover {
	height: 50% !important;
	width: 80% !important;
	left: 50% !important;
	margin-left: -40%;
	top: 50% !important;
	margin-top: -25%;
	/*border: 2px solid #3DA99D;*/
	
	border-top: 0;
	border-radius: 6px;
	background-color: #F6F6F6;
}
.ad-custompopover .mui-popover .mui-popover-arrow:after {
	content: none;
}
.ad-custompopover #middlePopover .mui-scroll-wrapper {
	margin-top: 40px;
	margin-bottom: 40px;
}
.ad-custompopover #middlePopover .ad-popoverbottom {
	background: #d5d5d5 !important;
	height: 40px !important;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-radius: 0 0 4px 4px;
}
.ad-custompopover #middlePopover .ad-popoverbottom button {
	float: right;
	background-color: #3DA99D;
	border: 0;
	color: #fff;
	margin-top: 5px;
	margin-right: 8px;
}
.ad-custompopover .mui-popover .mui-popover-arrow:after {
	background: none;
}
.ad-custompopover .ad-popoverclose {
	position: absolute;
	right: 4px;
	z-index: 9999;
	height: 40px;
	width: 100%;
	left: 0;
	top: 0 !important;
	right: 0 !important;
	background-color: #3DA99D;
	border-radius: 4px 4px 0 0;
	text-align: center !important;
	line-height: 40px;
}
.ad-custompopover .ad-popoverclose span:first-child {
	color: #fff;
	margin-top: 8px;
}
.ad-custompopover .ad-popoverclose span:last-child {
	float: left;
	color: #fff;
	margin-left: 10px;
}
.ad-custompopover .mui-backdrop {
	background-color: rgba(0, 0, 0, 0.60) !important;
}
.ad-custompopover .mui-checkbox label {
	text-align: left !important;
}
.ad-custompopover .ad-guanbi {
	margin-right: 4px;
}
.mui-backdrop {
	background-color: rgba(0, 0, 0, .7);
}
/*修改popover end*/
/*修改checkbox框的颜色*/

.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
	color: #FFA42F;
}
/*底部样式start*/

.ad-casein {
	width: 20%;
	height: 50px;
	text-align: center;
	position: relative;
	padding-top: 24px;
	float: left;
}
#ad-jzkj .ad-casein{
	width: 25%;
}
.ad-casein p {
	padding: 0;
	margin: 0;
}
.ad-casein p:first-child {
	margin-top: -16px;
}
.ad-casein .ad-count {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background-color: #FF0000;
	color: #fff;
	font-size: 12px;
	top: 2px;
}
.ad-action {
	background-color: #00C6C6;
}
.ad-action p {
	color: #fff;
}
/*底部样式end*/